{% macro checkbox(data, values, class, col_dim) %}
    {% if class == "box" %}
        {% for element in data %}
                <div class="form-group col-md-{{ col_dim[loop.index0] }}">
                    <label for="">{{ element.label }}</label>
                    <div class="row">
                        {% for item in values[loop.index0] %}
                            <div class="form-check col-md-{{ item.dim }}">
                                <input type="checkbox" class="form-check-input" name="{{ item.name }}" id="{{ item.name }}_{{ loop.index }}" value="{{ item.value }}"/>
                                <label for="{{ item.name }}_{{ loop.index }}" style="font-size: 8pt">{{ item.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
    {% elseif class == "line" %}

          {% for element in data %}

              <div class="row" style="margin-top: 10px">

              {% for label in element.labels %}
                  <div class="col-md-{{ col_dim[loop.index0] }}">
                      <p><b>{{ label|capitalize }}</b></p>
                  </div>
              {% endfor %}
              {% set index = loop.index0 %}
              {% for item in values[index] %}
                  <div class="col-md-{{ item.dim }}">
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" name="{{ item.name }}" id="{{ item.name }}_{{ loop.index }}" value="{{ item.value }}"/>
                          <label for="{{ item.name }}_{{ loop.index }}" style="font-size: 8pt">{{ item.label }}</label>
                      </div>
                  </div>
              {% endfor %}

              </div>

          {% endfor %}

    {% endif %}
{% endmacro %}
