{% macro custom_table(data) %}

	{% from 'forms/macros/input_macro.twig' import input %}
	{% from 'forms/macros/select_macro.twig' import select %}
	{% from 'forms/macros/textarea_macro.twig' import textarea %}
	{% from 'forms/macros/radio_macro.twig' import radio %}
	{% from 'forms/macros/checkbox_macro.twig' import checkbox %}

    <!-- titles -->
    <div class="col-md-12">
        <div class="row text-center">
        {% for element in data.titles %}
            <div class="col-md-{{ element.dim }}">
                <div class="row">
	                {% for block in element.block %}
                        <div class="col-md-{{ block.dim }}">
                            <h4>{{ block.name }}</h4>
                        </div>
	                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- endtitles -->

    <!-- options -->
    <div class="col-md-12" style="margin-top: 10px">
        <div class="row text-center">

	    {% for element in data.options %}

            <div class="col-md-{{ element.dim }}">

                {% set content = element.data %}

                {% if content.type == "input" %}
                    {{ input(content.data, content.class, content.mode, content.col_dim) }}
                {% elseif content.type == "checkbox" %}
                    {{ checkbox(content.data, content.values, content.class, content.col_dim )}}
                {%  elseif content.type == "textarea" %}
                    {{ textarea(content.data, "line", content.mode, content.col_dim) }}
                {% elseif content.type == "radio" %}
                    {{ radio(content.data, content.values, content.class, content.col_dim) }}
                {% endif %}

            </div>

	    {% endfor %}
        </div>
    </div>
    <!-- endoptions -->
{% endmacro %}
