{% macro select(label, name, id, class, col_dim) %}

    {% if class == "estado" %}

        {% set data = [{'value': 'S', 'name': 'Soltero'},
                        {'value': 'C', 'name': 'Casado'},
                        {'value': 'V', 'name': 'Viudo(a)'},
                        {'value': 'U', 'name': 'Union Libre'}
                        ] %}

    {% elseif class == "sexo" %}

        {% set data = [{'value': 'masculino', 'name':'Masculino'}, {'value': 'femenino', 'name':'Femenino'}] %}

    {%  elseif class == "jornada" %}

        {% set data = [{'value': 'diurna', 'name': 'Diurna'},
            {'value': 'nocturna', 'name': 'Nocturna'},
            {'value': 'rotativa', 'name': 'Rotativa'},
        ]%}

    {% elseif class == "ingreso" %}

        {% set data = [{'value': 'peridico', 'name': 'Periodico'},
	        {'value': 'retiro', 'name': 'Retiro'},
	        {'value': 'reubicacion', 'name': 'Reubicación'},
	        {'value': 'post_incapacidad', 'name': 'Post Incapacidad'}
        ] %}

    {% elseif class == "certificado" %}

	    {% set data = [{'value': 'ingreso', 'name': 'Ingreso'},
		    {'value': 'retiro', 'name': 'Retiro'},
		    {'value': 'reubicacion', 'name': 'Reubicación'},
	    ] %}

    {% elseif class == "examen" %}

	    {% set data = [{'value': 'ingreso', 'name': 'Ingreso'},
		    {'value': 'peridico', 'name': 'Periodico'},
		    {'value': 'retiro', 'name': 'Retiro'},
		    {'value': 'reubicacion', 'name': 'Reubicación'},
	    ] %}
    {% endif %}

    <div class="form-group col-md-{{ col_dim }}">
            <label for="{{ id }}">{{ label|capitalize }}</label>
            <select class="form-control" name="{{ name }}" id="{{ id }}">
                <option value="">----</option>
                {% for info in data %}
                    <option value="{{ info.value }}">{{ info.name }}</option>
                {% endfor %}
            </select>
    </div>
{% endmacro %}
