{% extends 'base/base.html' %}

{% block title %}
    {% block title_bar %} {% endblock %}
{% endblock %}

{% block header %} {{ include ('base/navbar.html') }} {% endblock %}

{% block main %}

	{{ include ('base/menu.html') }}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <!-- change sometimes -->
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg>
                    </a></li>
                <li class="active">HC</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <!-- Init form -->
            <form method="POST" style="padding: 10px">
                <!-- title -->
                <h2 class="text-center">{{ title_form }}</h2>
                <hr class="divider"/>
                <!-- end title -->
				{% block content %}
				{% endblock %}
            </form>
        </div>

    </div>
{% endblock %}


{% macro form_section(name, id, body) %}
    {% import _self as forms %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-toggle="collapse" href="#{{ id }}" role="button">
                <svg class="glyph stroked chevron-down">
                    <use xlink:href="#stroked-chevron-down"></use>
                </svg>
            </span>
            {{ name }}
        </div>
        <div class="collapse" id="{{ id }}">
            <div class="panel-body">
                {% for section in body %}
                    <div class="col-md-12">
                        <div class="row">
                            {% for item in section.content %}
                                {% if item.type == "input" %}
                                    {{ forms.input(item.label, item.name, item.id, item.class, item.col_dim, "box") }}
                                {% elseif item.type == "select" %}
                                    {{ forms.select(item.label, item.name, item.id, item.class, item.col_dim) }}
                                {% elseif item.type == "datetime" %}
                                    {{ forms.datetime(item.label, item.name, item.col_dim) }}
                                {%  elseif item.type == "checkbox" %}
	                                {{ forms.checkbox(item.label, item.name, item.id, item.class, item.options, item.col_dim) }}
                                {%  elseif item.type == "textarea" %}
	                                {{ forms.textarea(item.data, item.name, item.id, item.col_dim, "box") }}
                                {% elseif item.type == "radio" %}
                                    {{ forms.radio(item.data, item.values, item.class, item.col_dim) }}
                                {% elseif item.type == "custom_table" %}
                                    {{ forms.custom_table(item.data) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro input(label, name, id, class, col_dim, mode) %}
	{% if mode == "box" %}
        <div class="form-group col-md-{{col_dim}}">
            <label for="{{ id }}">{{ label|capitalize }}</label>
            <input class="form-control" type="{{ class }}" name="{{ name }}" id="{{ id }}" />
        </div>
    {% elseif mode == "line" %}
        <div class="form-group col-md-{{col_dim}}">
            <input class="form-control" type="{{ class }}" name="{{ name }}" id="{{ id }}" />
        </div>
    {% endif %}
{% endmacro %}


{% macro textarea(data, class, mode, col_dim) %}
	{% if class == "box" %}
        <div class="form-group col-md-{{ col_dim }}">
            <label for="causa">{{ label|capitalize }}</label>
            <textarea class="form-control" name="{{ name }}" id="{{ id }}" style="width: 100%; resize: none;"></textarea>
        </div>

	{% elseif class == "line" %}
        {% for item in data %}
            {% if mode == "hidden" %}
                <div class="row" style="margin-top: 5px;">
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ item.name }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        +
                    </a>
                    <!--span data-toggle="collapse" href="#{{ item.name }}_{{ loop.index }}" role="button">
                        <svg class="glyph stroked chevron-down">
                            <use xlink:href="#stroked-chevron-down"></use>
                        </svg>
                    </span>-->
                    <div class="collapse" id="{{ item.name }}">
                        <div class="form-group col-md-{{ col_dim[0] }}">
                            <textarea class="form-control" name="{{ item.name }}" id="{{ item.name }}_{{ loop.index }}" style="width: 100%; resize: none;"></textarea>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="form-group col-md-{{ col_dim[0] }}">
                        <textarea class="form-control" name="{{ item.name }}" id="{{ item.name }}_{{ loop.index }}" style="width: 100%; resize: none;"></textarea>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
	{% endif %}
{% endmacro %}


{% macro custom_table(data) %}
	{% import _self as forms %}
    <!-- titles -->
    <div class="col-md-12">
        <div class="row text-center">
        {% for element in data.titles %}
            <div class="col-md-{{ element.dim }}">
                <div class="row">
	                {% for block in element.block %}
                        <div class="col-md-{{ block.dim }}">
                            <h4>{{ block.name }}</h4>
                        </div>
	                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- endtitles -->

    <!-- options -->
    <div class="col-md-12" style="margin-top: 10px">
        <div class="row text-center">
	    {% for element in data.options %}
            <div class="col-md-{{ element.dim }}">
                {% set content = element.data %}
                {% if content.type == "input" %}
                    {{ forms.input(content.label, content.name, content.id, content.class, content.col_dim, "line") }}
                {% elseif content.type == "checkbox" %}
                    {{ forms.checkbox(content.label, content.name, content.id, content.class, content.options, content.col_dim) }}
                {%  elseif content.type == "textarea" %}
                    {{ forms.textarea(content.data, "line", content.mode, content.col_dim) }}
                {% elseif content.type == "radio" %}
                    {{ forms.radio(content.data, content.values, content.class, content.col_dim) }}
                {% endif %}
            </div>
	    {% endfor %}
        </div>
    </div>
    <!-- endoptions -->
{% endmacro %}

{% macro select(label, name, id, class, col_dim) %}

    {% if class == "estado" %}

        {% set data = [{'value': 'S', 'name': 'Soltero'},
                        {'value': 'C', 'name': 'Casado'},
                        {'value': 'V', 'name': 'Viudo(a)'},
                        {'value': 'U', 'name': 'Union Libre'}
                        ] %}

    {% elseif class == "sexo" %}

        {% set data = [{'value': 'masculino', 'name':'Masculino'}, {'value': 'femenino', 'name':'Femenino'}] %}

    {%  elseif class == "jornada" %}

        {% set data = [{'value': 'diurna', 'name': 'Diurna'},
            {'value': 'nocturna', 'name': 'Nocturna'},
            {'value': 'rotativa', 'name': 'Rotativa'},
        ]%}

    {% elseif class == "ingreso" %}

        {% set data = [{'value': 'peridico', 'name': 'Periodico'},
	        {'value': 'retiro', 'name': 'Retiro'},
	        {'value': 'reubicacion', 'name': 'Reubicación'},
	        {'value': 'post_incapacidad', 'name': 'Post Incapacidad'}
        ] %}

    {% elseif class == "certificado" %}

	    {% set data = [{'value': 'ingreso', 'name': 'Ingreso'},
		    {'value': 'retiro', 'name': 'Retiro'},
		    {'value': 'reubicacion', 'name': 'Reubicación'},
	    ] %}

    {% elseif class == "examen" %}

	    {% set data = [{'value': 'ingreso', 'name': 'Ingreso'},
		    {'value': 'peridico', 'name': 'Periodico'},
		    {'value': 'retiro', 'name': 'Retiro'},
		    {'value': 'reubicacion', 'name': 'Reubicación'},
	    ] %}
    {% endif %}

    <div class="form-group col-md-{{ col_dim }}">
        <div class="form-group">
            <label for="{{ id }}">{{ label|capitalize }}</label>
            <select class="form-control" name="{{ name }}" id="{{ id }}">
                <option value="">----</option>
                {% for info in data %}
                    <option value="{{ info.value }}">{{ info.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro checkbox(label, name, id, class, options, col_dim) %}
    {% if class == "box" %}
    <div class="form-group col-md-{{ col_dim }}">
        <label class="text-center">{{ label|capitalize }}</label>
        <div class="row" style="margin-top: 10px">
	        {% if options.type == "radio" %}
                {% for option in options.values %}
                    <div class="form-check col-md-{{ option.dim }}">
                            <input type="radio" class="form-check-input" name="{{ options.name }}" id="{{ option.id }}" value="{{ option.value }}"/>
                        <label for="{{ option.id }}">{{ option.label }}</label>
                    </div>
                {% endfor %}
	        {% elseif options.type == "checkbox"%}
		        {% for option in options.values %}
                    <div class="form-check col-md-{{ option.dim }}">
                        <label for="{{ option.id }}">{{ option.label }}</label>
                        <input type="checkbox" class="form-check-input" name="{{ option.name }}" id="{{ option.id }}" value="{{ option.value }}"/>
                    </div>
		        {% endfor %}
	        {% endif %}
        </div>
    </div>
    {% elseif class == "line" %}
        <div class="col-md-{{ col_dim }}">
            <p><b>{{ label|capitalize }}</b></p>
        </div>
        {% for option in options.values %}
            <div class="col-md-{{ option.dim }}">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="{{ options.name }}" id="{{ option.id }}" value="{{ option.value }}"/>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro datetime(label, name, col_dim) %}
    <div class="form-group col-md-{{ col_dim }}">
        <div class='form-group date' id='datetimepicker'>
            <label for="fecha">{{ label|capitalize }}</label>
            <input type='text' class="form-control" id='fecha' data-provide="datepicker" name="{{ name }}"/>
        </div>
    </div>
{% endmacro %}

{% macro p(data, col_dim) %}
    <div class="col-md-{{ col_dim }}">
        <p><b>{{ label|capitalize }}</b></p>
    </div>
{% endmacro %}



{% macro radio(data, values, class, col_dim) %}

	{% if class == "box" %}

        {% for item in data %}
            {% for label in item.labels %}
                <div class="form-group col-md-{{ col_dim[loop.index0] }}">
                    <label class="text-center">{{ label|capitalize }}</label>
                    <div class="row" style="margin-top: 10px">
                        {% for option in values %}
                            <div class="form-check col-md-{{ option.dim }}">
                                <input type="radio" class="form-check-input" name="{{ item.name }}" id="{{ item.name }}_{{ loop.index }}" value="{{ option.value }}"/>
                                <label for="{{ item.name }}_{{ loop.index }}">{{ option.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

	{% elseif class == "line" %}

        {% for item in data %}
            <div class="row" style="margin-top: 10px">
            {% for label in item.labels %}
                <div class="col-md-{{ col_dim[loop.index0] }}">
                    <p><b>{{ label|capitalize }}</b></p>
                </div>
            {% endfor %}

            {% for option in values %}
                <div class="col-md-{{ option.dim }}">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="{{ item.name }}" id="{{ item.name }}_1" value="{{ option.value }}"/>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
	{% endif %}

{% endmacro %}